* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, rgb(102, 212, 102), rgb(18, 112, 18), green);
}

.game-screen > * {
    margin-bottom: 3rem;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px black;
}

.game-screen h1 {
    font-size: 6rem;
    color: gold;
}

.game-screen h2 {
    font-size: 4rem;
    text-align: center;
}

.game-screen p {
    font-size: 3rem;
    font-weight: 600;
}

.game-screen button {
    font-size: 3rem;
    background-color: gold;
    padding: 0.3rem 0.7rem;
    color: rgb(69, 189, 39);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.game-screen button:hover {
    background-color: rgb(182, 160, 35);
}